.goods {
  &__section {
    .section__body {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: fluid(20, 16);
      flex-wrap: wrap;
      overflow-x: auto;
      padding-bottom: fluid(10, 5);
      border-bottom: var(--border);
    }
  }
}