.rating-view {
  --ratingViewValue: 5;

  display: flex;
  flex-direction: column;
  align-items: start;
  column-gap: fluid(13, 11);

  &__stars {
    position: relative;

    &-filled {
      --ratingViewStarsClipEnd: calc(100% / 5 * var(--ratingViewValue));

      clip-path: polygon(
                      0 0,
                      var(--ratingViewStarsClipEnd) 0,
                      var(--ratingViewStarsClipEnd) 100%,
                      0 100%
      );
    }
  }

  &__label {
    @include fluid-text(14, 12);

    font-family: var(--font-family-secondary);
    font-weight: 400;
    color: var(--color-black);
    letter-spacing: 1px;
  }
}