.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 12px;
}

.socials__button {
  @include square(40px);

  display: inline-flex;
  justify-content: center;
  padding: 10px;
  border: var(--border-width-s) solid var(--color-grey-50);
  border-radius: 50%;
  background-color: var(--color-white);

  @include hover {
    border-color: var(--color-black);
    background-color: var(--color-white-03);
  }
}