.footer {
  background-color: var(--color-white-02);

  &__inner {
    padding-bottom: fluid(80, 60);
    padding-top: fluid(70, 130);
  }

  &__main {
    display: flex;
    align-items: start;
    column-gap: fluid(110, 40);
    padding-block: fluid(50, 25);
    border-bottom: var(--border);
  }

  &__menu {
    --footerMenuColumns: 4;

    display: grid;
    grid-template-columns: repeat(var(--footerMenuColumns), 1fr);
    gap: 24px fluid(100, 40);

    @include laptop {
      --footerMenuColumns: 3;
    }
    @include mobile {
      --footerMenuColumns: 2;
    }

    &-column {
      display: flex;
      flex-direction: column;
      align-items: start;
      row-gap: 16px;
    }

    &-title {
      letter-spacing: 4px;
      font-weight: 500;
    }

    &-list {
      display: flex;
      flex-direction: column;
      row-gap: fluid(20, 15);
    }

    &-link {
      color: var(--color-grey);
      text-wrap: nowrap;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: fluid(25, 14);

    &-description {
      text-wrap: wrap;
      color: var(--color-grey);
    }
  }

  &__copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: fluid(25, 16);

    @include mobile {
      flex-direction: column;
      row-gap: 16px;
    }

    p {
      color: var(--color-grey);
    }
  }
}
